@import "color-palette.css";
@import "header.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

/*----------MAIN----------*/

body {
    background: white;
}

h1 {
    margin: 5rem 0rem 5rem 0rem;
    text-align: center;
}

#mail,
#telephone,
#adresse {
    display: flex;
    align-items: center;
}

#section-glo {
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: solid 2px black;
    border-radius: 1rem;
}

#section-glo * {
    font-size: 1.2rem;
}

#section-glo>section:not(:last-child)>p {
    margin: 0rem 0rem 1rem 0rem;
}

#section-glo>section:last-child>p {
    margin: 0rem;
}


#section-glo>section:not(:last-child)>i {
    margin: 0rem 1rem 1rem 0rem;
}

#section-glo>section:last-child>i {
    margin: 0rem 1rem 0rem 0rem;
}


@media only screen and (max-width: 600px) {
    #section-glo * {
        font-size: .75rem;
    }

    main h1 {
        font-size: .85rem;
    }

    header * {
        font-size: .75rem;
    }

    header img {
        transform: scale(0.75);
    }

    footer * {
        font-size: .75rem;
    }
}