/* Color Palette */
:root {
  --black: #04080f;
  --blue-dark: #507dbc;
  --blue: #a1c6ea;
  --blue-light: #bbd1ea;
  --blue-white: #dae3e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2%;
  background-color: var(--blue-dark);
  color: var(--blue-white);
  font-family: "Montserrat";
}

header img {
  width: 50px;
  margin: 1%;
}

.Titre {
  font-family: "Montserrat";
  text-align: center;
}