body {
  box-sizing: border-box;
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Titre {
  font-family: "Montserrat";
  text-align: center;
}
