@import "color-palette.css";
@import "header.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/*----------MAIN----------*/

main .blocs > img {
  width: 250px;
}

main > h1 {
  text-align: center;
  margin: 2.5rem 0rem 2.5rem 0rem;
}

main > #flex-main {
  display: flex;
  gap: 3rem;
  padding: 0rem 5rem 0rem 5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

main > #flex-main > .blocs {
  display: flex;
  flex: 30% 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 1rem;
  border: solid black 2px;
  border-radius: 1rem;
}

main > #flex-main > .blocs > img {
  height: 170px;
  border: solid black 1.5px;
  border-radius: 1rem;
}

main > #flex-main > .blocs > p,
main > #flex-main > .blocs > h2 {
  text-align: center;
  margin-bottom: 0.3rem;
}

main > #texte {
  text-align: center;
  margin: 4rem 10rem 4rem 10rem;
}

main > #texte > h3 > p {
  margin-bottom: 1rem;
}
