@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------MAIN---------*/

main h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}