@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

/*----------MAIN---------*/

main h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main > h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main #fieldset-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 65%;
}

fieldset legend {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset label {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset input {
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
  width: auto;
}

fieldset textarea {
  height: 150px;
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
  background-color: var(--blue-light);
}

fieldset input[type="file"] {
  overflow: hidden;
  width: auto;
}

@media (max-width: 500px) {
  fieldset input[type="file"] {
    width: 150px;
    color: transparent;
  }
}

fieldset a {
  color: var(--blue-dark-contrast);
  text-align: center;
  text-decoration: underline;
  font-size: smaller;
  width: auto;
  height: auto;
  background-color: var(--white);
  margin-top: 1%;
}

fieldset section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-light);
  width: auto;
  height: auto;
  padding: 0 0.5rem;
  border-radius: 5px;
  flex-wrap: wrap;
  word-break: break-word;
}

#offre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-light);
  width: auto;
  height: auto;
  padding: 0 0.5rem;
  border-radius: 5px;
  flex-wrap: wrap;
  word-break: break-word;
}

#offre .headerOffre,
#offre .infos {
  padding: 0.5rem;
}

#offre .headerOffre {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

#offre .headerOffre h3 {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: start;
  flex-grow: 100;
}

#offre .headerOffre .stats {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

#offre p {
  padding-left: 0.5rem;
  text-align: center;
}

fieldset section p {
  padding-left: 0.5rem;
}

.infos {
  gap: 0.5rem;
}

#likes {
  border: solid black 1.5px;
  margin-left: 0.5rem;
}

#demandes {
  margin-left: 0.5rem;
  border: solid black 1.5px;
}

#offre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item {
  flex-wrap: nowrap;
}

section.infos {
  margin-bottom: 0.5rem;
}

#boutons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  display: block;
  font-size: 1rem;
  margin-top: 0;
  background-color: var(--blue-dark);
  color: var(--blue-light);
  border-radius: 0.5rem;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  height: 30px;
  text-decoration: none;
  margin-bottom: 1rem;
}

button:hover {
  background-color: var(--blue-dark-contrast);
  color: var(--blue);
}

#rechercher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

#rechercher button {
  transform: scale(1.25);
}
