@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "color-palette.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  margin: 2rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  flex-flow: column;
}

.contact > h1 {
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0;
}

.contact > * {
  margin: 1rem 1rem;
}

.contact section > img {
  width: 5rem;
  padding: 0.5rem;
}

.contact section > p {
  margin: 1rem 0;
}

#contact-methods {
  display: flex;
  flex-flow: row wrap;
}

#contact-methods > section {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 25%;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 1rem 0rem 1rem;
  margin: 0.5rem;
  text-align: center;
}
