body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  text-align: center;
  gap: 1rem;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: var(--blue);
  z-index: 5000;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.65);
}

footer>#liens-footer {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  gap: 1rem;
  padding: 0rem 0rem 0rem 1.5rem;
}

footer>#liens-footer>a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

footer>#liens-footer>a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

footer>#liens-footer>a::after {
  background: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--black);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

footer>#liens-footer>a:hover {
  font-weight: bold;
}

footer>#liens-footer>a:hover::after {
  width: 100%;
  left: 0;
}

footer>p {
  padding-right: 1.5rem;
}

@media only screen and (max-width: 500px) {
  html body footer p {
    display: none;
  }

  html body footer {
    display: flex;
    justify-content: center;
  }

  html body footer>#liens-footer {
    padding: 0rem;
  }
}