@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";
@import "icones-formulaire.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------MAIN---------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-formulaire {
    padding: 3rem;
    border: 3px solid #04080f;
    border-radius: 1rem;
    margin: 3rem 2rem;
}

main #section-formulaire input {
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: var(--blue-white);
    padding: 0.3rem 1.7rem 0.3rem 0.3rem;
    overflow-x: auto
}

#section-formulaire h2 {
    text-align: center;
    margin-bottom: 0.7rem;
    color: var(--blue-dark-contrast-hover);
}

#formulaire label {
    display: inline-block;
    color: var(--blue-dark-contrast);
    font-weight: bold;
}

#formulaire section * {
    margin-bottom: 0.5rem;
}

#adresse-cp-etudiant {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 0.5fr;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#adresse-cp-etudiant label {
    align-self: center;
}

#adresse-cp-etudiant input {
    width: 100%;
}

#ville-region-etudiant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#ville-region-etudiant label {
    align-self: center;
}

#ville-region-etudiant input {
    width: 100%;
}

#bouton-class-id {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
}

#champs-obligatoires p {
    text-align: center;
    font-style: italic;
}

main #section-formulaire #bouton-class-id button {
    background-color: var(--blue-dark);
    color: var(--blue-light);
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
}

main #section-formulaire #bouton-class-id button:hover {
    background-color: var(--blue-dark-contrast);
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
    #section-formulaire {
        padding: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #section-formulaire h2 {
        font-size: 1.3rem;
    }

    #formulaire * {
        font-size: 0.8rem;
    }
}