@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------MAIN---------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-formulaire {
    padding: 3rem;
    border: 3px solid #04080f;
    border-radius: 1rem;
    margin: 2rem;
}

main #section-formulaire input,
main #section-formulaire textarea {
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: var(--blue-white);
}

main #section-formulaire textarea {
    resize: none;
    width: 100%;
    height: 10rem;
}

#section-formulaire h2 {
    text-align: center;
    margin-bottom: 0.7rem;
    color: var(--blue-dark-contrast-hover);
}

#formulaire label {
    display: inline-block;
    color: var(--blue-dark-contrast);
    font-weight: bold;
}

#formulaire section * {
    margin-bottom: 0.5rem;
}

#adresse-cp-entreprise {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 0.5fr;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#adresse-cp-entreprise label {
    align-self: center;
}

#adresse-cp-entreprise input {
    width: 100%;
}

#ville-region-entreprise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#ville-region-entreprise label {
    align-self: center;
}

#ville-region-entreprise input {
    width: 100%;
}

#site-web-entreprise {
    width: 100%;
}

#bouton-class-id {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
}

#champs-obligatoires p {
    text-align: center;
    font-style: italic;
}

main #section-formulaire #bouton-class-id button,
main #section-formulaire #bouton-class-id #reset {
    background-color: var(--blue-dark);
    color: var(--blue-light);
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
}

main #section-formulaire #bouton-class-id button:hover,
main #section-formulaire #bouton-class-id #reset:hover {
    background-color: var(--blue-dark-contrast);
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
    #section-formulaire {
        padding: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #section-formulaire h2 {
        font-size: 1.3rem;
    }

    #formulaire * {
        font-size: 0.8rem;
    }
}