header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0rem;

    background: hsla(215, 45%, 53%, 1);

    background: linear-gradient(315deg,
            hsla(215, 45%, 53%, 1) 17%,
            hsla(210, 63%, 77%, 1) 93%);

    background: -moz-linear-gradient(315deg,
            hsla(215, 45%, 53%, 1) 17%,
            hsla(210, 63%, 77%, 1) 93%);

    background: -webkit-linear-gradient(315deg,
            hsla(215, 45%, 53%, 1) 17%,
            hsla(210, 63%, 77%, 1) 93%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#507DBC", endColorstr="#A1C6EA", GradientType=1);

    color: white;
    font-family: "Montserrat";
    width: 100%;
    height: 75px;
    z-index: 1000;
}

header img {
    width: 50px;
    height: 50px;
}

header #image-accueil {
    cursor: pointer;
    margin: 0.5rem 1rem;
}

header>#header-gauche {
    justify-self: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header>#header-milieu {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

header>#header-droite {
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input {
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: var(--blue-white);
}

i {
    border: solid black 1.7px;
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: var(--blue-white);
    color: black;
}

i[class*="fa"] {
    cursor: pointer;
    width: 31.2px;
    height: 31.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>#header-droite {
    margin-left: 0.5rem;
    padding-right: 1rem;
}

header>#header-droite>a {
    text-decoration: none;
    color: var(--black);
    padding: 3px 7px;
    border: solid black 1px;
    border-radius: 10px;
    background: var(--blue-white);
}

header #header-droite a:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    header * {
        font-size: .75rem;
    }

    header img {
        transform: scale(0.75);
    }

    i[class*="fa"] {
        cursor: pointer;
        width: 26.6px;
        height: 26.6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}