@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "color-palette.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: auto;
  height: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: auto;
}

fieldset label {
  color: var(--blue-dark-contrast);
  font-weight: bold;
}

fieldset input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

fieldset input[type="submit"] {
  background-color: var(--blue-dark-contrast);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
}

fieldset input[type="submit"]:hover {
  background-color: var(--blue-dark-contrast-hover);
}

fieldset input[type="reset"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
}

fieldset input[type="reset"]:hover {
  background-color: var(--blue-white);
}

fieldset input[type="button"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
}

fieldset input[type="button"]:hover {
  background-color: var(--blue-white);
}

fieldset a {
  color: var(--blue-dark-contrast);
  text-align: center;
  text-decoration: underline;
  font-size: smaller;
  width: auto;
  height: auto;
  background-color: var(--white);
  margin-top: 1%;
}

fieldset a:hover {
  font-weight: bold;
}

#loginbtns {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

#remember {
  margin-top: 3%;
  text-align: center;
}