@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------MAIN---------*/

main {
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-formulaire {
    padding: 2.5rem;
    border: 3px solid #04080f;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#section-formulaire h2 {
    text-align: center;
    margin-bottom: 0.7rem;
    color: var(--blue-dark-contrast-hover);
}

#formulaire label {
    display: inline-block;
    color: var(--blue-dark-contrast);
    font-weight: bold;
}

#formulaire section * {
    margin-bottom: 0.5rem;
}

#localisation {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 0.5rem;
}

#localisation input {
    width: 100%;
}

#bouton-class-id {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
}

#champs-obligatoires p {
    text-align: center;
    font-style: italic;
}

button,
#reset {
    background-color: var(--blue-dark);
    color: var(--blue-light);
    border-radius: 0.5rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
}

button:hover,
#reset:hover {
    background-color: var(--blue-dark-contrast);
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
    #section-formulaire h2 {
        font-size: 1.3rem;
    }

    #formulaire * {
        font-size: 0.8rem;
    }
}