@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "color-palette.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

fieldset legend {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset label {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset input {
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
  width: auto;
}

fieldset textarea {
  height: 150px;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
  background-color: var(--blue-white);
}

fieldset input[type="file"] {
  overflow: hidden;
  width: 100%;
}

fieldset input[type="submit"] {
  background-color: var(--blue-dark-contrast);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="submit"]:hover {
  background-color: var(--blue-dark-contrast-hover);
}

fieldset input[type="reset"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="reset"]:hover {
  background-color: var(--blue-white);
}

fieldset input[type="button"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="button"]:hover {
  background-color: var(--blue-white);
}

fieldset a {
  color: var(--blue-dark-contrast);
  text-align: center;
  text-decoration: underline;
  font-size: smaller;
  width: auto;
  height: auto;
  background-color: var(--white);
  margin-top: 1%;
}

fieldset section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-light);
  width: auto;
  height: auto;
  padding: 0 0.5rem;
  border-radius: 5px;
  flex-wrap: wrap;
  word-break: break-word;
}

fieldset section#offre {
  row-gap: 1rem;
}

fieldset section.headerOffre {
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

fieldset section.headerOffre h3 {
  padding-left: 0.5rem;
  align-items: center;
  justify-content: start;
  flex-grow: 100;
}

main fieldset section.stats {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: nowrap;
}

main fieldset section.headerOffre {
  padding: 0;
}

fieldset section.stats section {
  flex-wrap: nowrap;
  gap: 0.5rem;
}

section h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset section p {
  padding-left: 0.5rem;
  text-align: center;
}

fieldset section.stats p {
  padding-left: 0rem;
}

fieldset #description {
  border: solid black 1px;
  padding: 0.5rem;
}

fieldset #description p {
  padding-left: 0rem;
  text-align: initial;
}

#offre .headerOffre {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#likes {
  border: solid black 1.5px;
  margin-left: 0.5rem;
}

#demandes {
  margin-left: 0.5rem;
  border: solid black 1.5px;
}

#offre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#loginbtns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0rem;
  column-gap: 1rem;
}

#item {
  flex: 1 1 auto;
  min-width: auto;
}

section.infos {
  margin-bottom: 0.5rem;
}

.infos {
  gap: 0.5rem;
}
