@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------MAIN---------*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entreprise {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-light);
  width: 60%;
  margin: 3rem;
  padding: 1rem;
  gap: 1rem;
  height: fit-content;
  word-break: break-word;
  border-radius: 10px;
  border: solid black 2px;
  flex-wrap: wrap;
}

.entreprise .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0.2rem;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

main .entreprise .contentEntreprise {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .entreprise .headerEntreprise {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

main .entreprise .bodyEntreprise {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  width: auto;
  height: auto;
  gap: 0.5rem;
}

main .entreprise .bodyEntreprise {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

main .entreprise .description {
  flex: 1 0 100%;
}

main .entreprise .description fieldset {
  border: solid black 1.5px;
  border-radius: 10px;
  background-color: var(--blue-white);
}

main .entreprise .description fieldset legend {
  font-weight: bold;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#avis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0rem 5rem 3rem 5rem;
}

#avis h3 {
  text-decoration: underline;
}

#avis .avis-utilisateur {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: var(--blue-light);
  border: solid black 1.5px;
  border-radius: 10px;
  padding: 0.5rem;
}

#afficher-plus {
  background-color: var(--blue-dark-contrast);
  color: var(--white);
  padding: 0.5rem 0.3rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  border-radius: 10px;
  margin-bottom: 3rem;
}

#afficher-plus:hover {
  background-color: var(--blue-dark-contrast-hover);
}

@media (max-width: 800px) {
  .entreprise {
    flex-direction: column;
    gap: 1rem;
  }
}
