@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "color-palette.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

main {
  display: flex;
  justify-content: center;
}

p {
  word-break: break-word;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 60%;
  height: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
}

fieldset legend {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset label {
  color: var(--blue-dark-contrast);
  font-weight: bold;
  margin: 0.5rem 0;
  width: auto;
}

fieldset input {
  padding: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
  width: auto;
}

fieldset textarea {
  height: 150px;
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 10px;
  resize: none;
  background-color: var(--blue-white);
  width: auto;
}

fieldset input[type="submit"] {
  background-color: var(--blue-dark-contrast);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="submit"]:hover {
  background-color: var(--blue-dark-contrast-hover);
}

fieldset input[type="reset"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="reset"]:hover {
  background-color: var(--blue-white);
}

fieldset input[type="button"] {
  background-color: var(--white);
  color: var(--blue-dark-contrast);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--blue-dark-contrast);
  margin: 0.5rem 0;
}

fieldset input[type="button"]:hover {
  background-color: var(--blue-white);
}

fieldset section {
  display: flex;
  flex-direction: row;
  background-color: var(--blue-light);
  width: auto;
  height: auto;
  border-radius: 5px;
  word-break: break-word;
}

fieldset .description {
  display: flex;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0.2rem;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

#entreprise-review {
  justify-content: center;
  background-color: var(--blue-light);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  column-gap: 2rem;
}

#entreprise-review .contentEntreprise {
  display: flex;
  flex-direction: column;
}

#entreprise-review .headerEntreprise {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

#entreprise-review .bodyEntreprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#note {
  margin-left: 0.5rem;
}

#loginbtns {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 0rem;
  flex-wrap: wrap;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #entreprise-review .description {
  flex: 1 0 100%;
  justify-content: center;
  border: transparent;
}

main #entreprise-review .description fieldset {
  border: solid black 1.5px;
  border-radius: 15px;
  background-color: var(--blue-white);
}

main #entreprise-review .description fieldset legend {
  font-weight: bold;
}

@media (max-width: 800px) {
  form {
    width: 90%;
  }

  fieldset {
    width: 90%;
  }

  #entreprise-review {
    flex-direction: column;
    gap: 1rem;
  }
}

/* CSS pour le système de notation */
#rate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue-white);
  border: solid 1px var(--blue-dark-contrast);
  border-radius: 10px;
}

.rate {
  display: inline-block;
  border: 0;
  color: #b0afaf;
  min-width: 240px;
}

.rate>input {
  display: none;
}

.rate>label {
  float: right;
}

.rate>label:before {
  display: inline-block;
  font-size: 1.7rem;
  padding: 0.3rem 0.7rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 ";
}

.rate .half:before {
  content: "\f089 ";
  position: absolute;
  padding-right: 0;
}

.rate>input:checked~label,
.rate>label:hover,
.rate>label:hover~label {
  color: #f4ab19;
}

.rate>input:checked+label:hover,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #b67c0f;
}