@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "color-palette.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
    height: auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

fieldset legend {
    color: var(--blue-dark-contrast);
    font-weight: bold;
    margin: 0.5rem 0;
    width: auto;
}

fieldset label {
    color: var(--blue-dark-contrast);
    font-weight: bold;
    margin: 0.5rem 0;
    width: auto;
}

fieldset input {
    padding: 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 5px;
    width: auto;
}

fieldset textarea {
    height: 150px;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: 5px;
    resize: none;
    background-color: var(--blue-white);
}

fieldset input[type="file"] {
    overflow: hidden;
    width: auto;
}

@media (max-width: 500px) {
    fieldset input[type="file"] {
        width: 150px;
        color: transparent;
    }
}

fieldset input[type="submit"] {
    background-color: var(--blue-dark-contrast);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--blue-dark-contrast);
    margin: 0.5rem 0;
}

fieldset input[type="submit"]:hover {
    background-color: var(--blue-dark-contrast-hover);
}

fieldset input[type="reset"] {
    background-color: var(--white);
    color: var(--blue-dark-contrast);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--blue-dark-contrast);
    margin: 0.5rem 0;
}

fieldset input[type="reset"]:hover {
    background-color: var(--blue-white);
}

fieldset input[type="button"] {
    background-color: var(--white);
    color: var(--blue-dark-contrast);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--blue-dark-contrast);
    margin: 0.5rem 0;
}

fieldset input[type="button"]:hover {
    background-color: var(--blue-white);
}

fieldset a {
    color: var(--blue-dark-contrast);
    text-align: center;
    text-decoration: underline;
    font-size: smaller;
    width: auto;
    height: auto;
    background-color: var(--white);
    margin-top: 1%;
}

fieldset section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue-light);
    width: auto;
    height: auto;
    padding: 0 0.5rem;
    border-radius: 5px;
    flex-wrap: wrap;
    word-break: break-word;
}

section h3 {
    display: flex;
    margin-top: auto 0;
    align-items: center;
    justify-content: center;
}

fieldset section p {
    padding-left: 0.5rem;
}

fieldset #description {
    border: solid black 1px;
    padding: 0.5rem;
}

#offre .headerOffre {
    width: 100%;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}


#likes {
    border: solid black 1.5px;
    margin-left: 0.5rem;
}

#demandes {
    margin-left: 0.5rem;
    border: solid black 1.5px;
}

#offre {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#loginbtns {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#item {
    flex: 1 1 auto;
    min-width: auto;
}

section.infos {
    margin-bottom: 0.5rem;
}

.infos {
    gap: .5rem;
}

.rate {
    display: inline-block;
    border: 0;
    color: #b0afaf;
}

.rate>input {
    display: none;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 1.5rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
}

.rate .half:before {
    content: "\f089 ";
    position: absolute;
    padding-right: 0;
}

input:checked~label,
label:hover,
label:hover~label {
    color: #dbc00b;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #f2ec35;
}