@import "color-palette.css";
@import "header.css";
@import "footer.css";
@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------MAIN---------*/

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .offre {
    background-color: var(--blue-light);
    border-radius: 10px;
    padding: 1.5rem;
}

main .offre:not(:last-child) {
    margin: 3rem 3rem 1rem 3rem;
}

main .offre:last-child {
    margin: 1rem 3rem 3rem 3rem;
}

main .offre section,
main .offre div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    word-break: break-word;
    gap: .5rem;
}

main .offre .infos {
    padding: 0.5rem;
    padding-bottom: 0rem;
    gap: .5rem;
}

main .offre .stats section,
main .offre .stats div {
    flex-wrap: nowrap;
    gap: .5rem
}

main .offre .headerOffre h3 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0.5rem;
    flex-grow: 100;
}

main .offre .headerOffre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem;
    row-gap: .5rem;
}

main .offre .headerOffre .stats {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    padding-right: 0.5rem;
}

main .offre .likes {
    display: flex;
    gap: 0.5rem;
    border: solid black 1.5px;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

main .offre .demandes {
    display: flex;
    gap: 0.5rem;
    border: solid black 1.5px;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

main .offre .description {
    margin-top: 0.5rem;
    border: solid black 1px;
    background-color: var(--blue-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.offre .infos section,
.offre .infos div {
    gap: .3rem;
}

main .offre p {
    text-align: center;
}

main .offre button {
    padding: 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 5px;
    width: auto;
    background-color: var(--blue-dark-contrast);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--blue-dark-contrast);
}


main .offre button:hover {
    background-color: var(--blue-dark-contrast-hover);
}

main .offre .boutons-offre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.75rem;
}

main .offre .boutons-offre p:first-of-type {
    text-decoration: underline;
    font-weight: bold;
}


main #pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    gap: 0.75rem;
}

main #pagination a {
    padding: 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 5px;
    width: auto;
    background-color: var(--blue-dark);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--blue-dark);
    margin-top: 1rem;
}

main #pagination a:hover {
    background-color: var(--blue-dark-contrast-hover);
}

main #pagination a.active {
    background-color: var(--black);
    color: var(--white);
}

main #pagination a.active:hover {
    background-color: var(--black);
    color: var(--white);
}